*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

:root {
  scroll-behavior: auto !important;
  font-size: 16px;
}

* {
  margin: 0;
  -webkit-user-drag: none;
  -webkit-overflow-scrolling: touch;
}

html {
  font-size: 16px;
}

html {
  height: 100%;
  width: 100%;
  -webkit-user-drag: none;
  -webkit-overflow-scrolling: touch;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* #root {
  isolation: isolate;
} */

body {
  -webkit-user-drag: none;
  top: 0;
  left: 0;
  position: absolute;
  min-height: 100%;
  width: 100%;
  overflow-y: auto;
  /* overflow-x: hidden; */
  /* overflow-x: hidden; */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -ms-overflow-style: none;
  /* scrollbar-width: none; */
  scroll-behavior: auto;
}

/* body::-webkit-scrollbar { */
/* display: none; */
/* } */

/* body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/public/images/goose.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
